name: Deploy to GitHub Pages

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'

      - name: Replace Zapier Webhook URL
        run: sed -i "s|ZAPIER_WEBHOOK_URL_PLACEHOLDER|${{ secrets.ZAPIER_WEBHOOK_URL }}|g" utils/backend.ts
        env:
          ZAPIER_WEBHOOK_URL: ${{ secrets.ZAPIER_WEBHOOK_URL }}

      - name: Replace Google API Key
        run: sed -i "s|VITE_API_KEY_PLACEHOLDER|${{ secrets.VITE_API_KEY }}|g" utils/ai.ts
        env:
          VITE_API_KEY: ${{ secrets.VITE_API_KEY }}

      - name: Install dependencies
        run: npm install

      - name: Build application
        run: npm run build

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./dist
